.app {
    background-color: #14181c;
}
 
.overlay {
    opacity:0.9;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
 
body {
    background-color: #1f242b;
    color: #fff;
    opacity: .9;
}