.filterableTable {
	padding: 20px;
	background-color: #9ab;
	border-radius: 25px;
}

.thingTitle {
	color: #C3073F;
	max-width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
    overflow: hidden;
}

.thingTitleCurrent {
	color: #5CDB95;
	max-width: 30%;
	vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden
}

.middleText {
	color: #fff;
}

u {
	cursor: pointer;
	color: #C3073F;
}

u:hover {
    color: #5CDB95;
}
