.productRow {
    background-color: white;
    cursor: pointer;
}

.productRow:hover {
    background-color: grey;
}

.listItemTitle {
	// max-width: 90%;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // display: inline-block;
    // overflow: hidden
}