.productRow {
    cursor: pointer;
    margin-top: 1px;
    margin-left: 1px;
}

.productRow:hover {
    background-color: grey;
}

.listItemTitle {
	// max-width: 90%;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // display: inline-block;
    // overflow: hidden
}